    body {
        background-image: url("https://source.unsplash.com/weekly?lake");
        background-size: cover;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        font-family: sans-serif;
        color: white;
    }
    
    #time {
        font-size: 1000%;
        margin-top: 20%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    #greeting {
        font-size: 400%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    #goal,
    #checkbox {
        font-size: 200%;
        margin-top: 5%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    /* #checkbox {
        font-size: 200%;
        margin-top: 5%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    } */
    
    #inputGoal {
        margin-top: 0px;
    }
    
    #meetingText {}
    /* #task {
        display: inline-block;
    } */
    /* #check {
        display: inline-block;
    }
    
    #closeButton {
        display: inline-block;
    } */