body {
    background-image: url("https://source.unsplash.com/yJsuEsVXbsE/5472x3648");
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 20% 25% 25% 25%;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}

#time {
    padding: 1px;
    font-size: 70px;
}

#greeting {
    padding: 10 20;
    font-size: 150px;
}

#goal {}